<app-nav-bar (toggleSideBarForMe)="sideBarToggler()"></app-nav-bar>

<mat-drawer-container>
  <mat-drawer mode="side" [opened]="sideBarOpen">
    <app-sidebar></app-sidebar>
  </mat-drawer>
  <mat-drawer-content>
    <div class="box">
      <h1 style="color: grey">Search Your Ride</h1>
      <mat-card class="example-card">
        <mat-card-content>
          <p>Please Select the Destinations</p>
          <form #searchDestinationForm="ngForm" style="margin-right: 30px">
            <mat-form-field appearance="fill">
              <mat-label>Starting from</mat-label>
              <input
                name="startPoint"
                [(ngModel)]="startPoint"
                matInput
                type="text"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Going to </mat-label>
              <input
                name="endPoint"
                [(ngModel)]="endPoint"
                matInput
                type="text"
                required
              />
            </mat-form-field>
            <br />
            <button
              mat-raised-button
              color="primary"
              (click)="try(searchDestinationForm)"
            >
              Submit
            </button>
          </form>
        </mat-card-content>
      </mat-card>
      <div class="noride" *ngIf="showbelowcard">
      <div class="noride" *ngIf="!norideshow">
        <p style="color: gray; font-size: 18px; text-shadow: 1px 1px">
          No Ride Available for this Raute now*
        </p>
      </div>

      <div *ngIf="norideshow">
        <div *ngFor="let ride of totalRideList">
          <mat-card class="allride-card">
            <mat-card-header>
              <mat-card-title>{{ride.tripStartFrom}} -> {{ride.tripEndTo}}</mat-card-title>
              <mat-card-subtitle>Start at : {{ride.tripStartTime | date: 'dd/MM/yyyy hh:mm:ss'}}</mat-card-subtitle>
              <mat-card-subtitle>end at : {{ride.tripEndTime | date: 'dd/MM/yyyy hh:mm:ss'}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>Vehicle Name = {{ride.vehicleName}}</p>
              <p>
                Capacity = {{ride.capacity}} L
              </p>
              <p>
                Amount = {{ride.tripPrice}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button style="background-color: #673ab7; color: white;" 
               (click)="viewRide(ride)" >View</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
<app-footer></app-footer>
