<div class="bootstrap-wrapper">
  <div >
    <section class="home" id="home">
      <div style="height: 25px"></div>
      <div class="content">
        <h3 style="text-shadow: 2px 2px 8px black">Welcome to</h3>
        <p style="margin-top: 3%">Transit Hassle pickup and drop service</p>
      </div>

      <div class="controls">
        <span class="vid-btn active" data-src="images/vid1.mp4"></span>
        <span class="vid-btn" data-src="images/vid-2.mp4"></span>
        <span class="vid-btn" data-src="images/vid-3.mp4"></span>
        <span class="vid-btn" data-src="images/vid-4.mp4"></span>
        <span class="vid-btn" data-src="images/vid-5.mp4"></span>
      </div>

      <div class="video-container">
        <video
          src="assets/vid1.mp4"
          id="video-slider"
          loop
          autoplay
          muted
        ></video>
      </div>
      <div style="height: 400px"></div>
    </section>

    <section class="services" id="services">
      <h1 class="heading">
        <span>f</span>
        <span>e</span>
        <span>a</span>
        <span>t</span>
        <span>u</span>
        <span>r</span>
        <span>e</span>
        <span>s</span>
      </h1>

      <div class="box-container">
        <div class="box">
          <i class="fas fa-hotel"></i>
          <h3>affordable</h3>
          <p>The lagguges</p>
        </div>
        <div class="box">
          <i class="fas fa-utensils"></i>
          <h3>food and drinks</h3>
          <p>
            Food is any substance consumed to provide nutritional support for an
            organism. It can be raw, processed or formulated and is consumed
            orally by animals for growth, health or pleasure.!
          </p>
        </div>
        <div class="box">
          <i class="fas fa-bullhorn"></i>
          <h3>safty guide</h3>
          <p>
            Always Arrive In The Day View this post on Instagram A post shared
            by Nomadic Natal Look Around At The Scenery, Not The Messages On
            Your Phone!
          </p>
        </div>
        <div class="box">
          <i class="fas fa-globe-asia"></i>
          <h3>around the world</h3>
          <p>
            Ultimate Round the World. 19 weeks or longer from £12,399 £12,079.
            An epic round-the-world adventure of a lifetime! !
          </p>
        </div>
        <div class="box">
          <i class="fas fa-plane"></i>
          <h3>fastest travel</h3>
          <p>
            You can travel and fast and you can make up your fast later, the
            reward will be the same. You won’t get an extra reward because you
            just fasted !
          </p>
        </div>
        <div class="box">
          <i class="fas fa-hiking"></i>
          <h3>adventures</h3>
          <p>
            Trekking and Mountaineering. India's mountain ranges provide plenty
            of trekking and mountaineering options for all fitness levels,
            whether you'd prefer a leisurely day hike or a challenging walk
            along the frozen Zanskar River (the Chadar Ice Trek). Rafting and
            Kayaking!
          </p>
        </div>
      </div>
    </section>

    <section class="contact" id="contact">
      <h1 class="heading">
        <span>A</span>
        <span>b</span>
        <span>o</span>
        <span>u</span>
        <span>t</span>
      </h1>

      <div class="row">
        <p>
          Current technological development has brought changes and development
          in the transportation. Online transportation service has become a
          means of transportation development which is able to attract people's
          interest. The online transportation service has created a convenient
          way for people to transport luggage. This project aims to create a
          platform for customers and drivers to realize their needs with a help
          of a mobile application. In this website, we have safe and secure
          registration by using government documentation, afterwards a driver
          and customer can access website as per their need. We are going to
          implement this website only for Kopargaon city. Both driver and
          customer are benefited in different way as our website provides the
          service in bidirectional way from source to the destination and on
          returning way driver will carry luggage of another customer so the
          driver is in profit and cost is reduced for customer. Our purposed
          website would be constantly helping people to transport their goods
          and luggage. This transportation will have some specific cost as per
          the km travelled by vehicle and some extra waiting charges.
        </p>
      </div>
    </section>

    <section class="footer">
      <div class="box-container">    
        <div class="box1"></div>     
        <div class="box">
          <h3>branch locations</h3>
          <a href="#">india</a>
          <a href="#">USA</a>
          <a href="#">japan</a>
          <a href="#">france</a>
        </div>
        <div class="box">
          <h3>quick links</h3>
          <a href="#">home</a>
          <a href="#">book</a>
          <a href="#">packages</a>
          <a href="#">services</a>
          <a href="#">gallery</a>
          <a href="#">review</a>
          <a href="#">contact</a>
        </div>
        <div class="box">
          <h3>follow us</h3>
          <a href="#">facebook</a>
          <a href="#">instagram</a>
          <a href="#">twitter</a>
          <a href="#">linkedin</a>
        </div>
      </div>
    
      <h1 class="credit">
        created by  Sangivani College of
        Engineering
      </h1>
    </section>

    
  </div>
</div>
