<mat-drawer-container>
    <mat-drawer-content>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
          <!-- ID Column -->
          <ng-container matColumnDef="userId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Booking Id</th>
            <td mat-cell *matCellDef="let row">{{row.userId }}</td>
          </ng-container>
  
          <!-- Progress Column -->
          <ng-container matColumnDef="createdDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
            <td mat-cell *matCellDef="let row">{{row.createdDate | date : "dd/MM/yyyy hh:mm:ss" }}</td>
          </ng-container>
  
          <ng-container matColumnDef="pickupLocation">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              PickUp Location
            </th>
            <td mat-cell *matCellDef="let row">
         {{ row.pickupLocation }}
            </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="pickupStatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td mat-cell *matCellDef="let row">{{ row.pickupStatus }}</td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
            <td mat-cell *matCellDef="let row">{{ row.email }}</td>
          </ng-container>
          <ng-container matColumnDef="mobileNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Number</th>
            <td mat-cell *matCellDef="let row">{{ row.mobileNo }}</td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  
      
        </table>
  
        <mat-paginator
          [pageSizeOptions]="[5, 10, 25, 100]"
          aria-label="Select page of users"
        ></mat-paginator>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
  <div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="primary" mat-dialog-close>Close</button>
    
  </div>
