:host {
    display: flex;
    flex-direction: column;
    height: 100%;
  
  }
  mat-drawer {
    width: 350px;
  }
  
  mat-drawer-container {
    /* padding: 20px; */
    height: 100%;
  }
  
  mat-drawer-content {
    padding: 20px;
  }
  
  table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
  mat-raised-button {
    flex: 1 1 auto;
  }
  mat-slider {
    width: 300px;
  }
  .mat-drawer-container{
      height: 100%;
      width: 100%;
      margin: 0;
    }
  
    