<mat-nav-list>
    <div class="profile-card">
       
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Soufiane FADIL">
        <div class="header">
            <h2>Soufiane FADIL</h2>
            <h4>example@email.com</h4>
        </div>
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/users">User</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/inventory">Inventory</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/notification">Notification</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/order">Order</a>
    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        Setting
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        Logout
    </a>

</mat-nav-list>

