<mat-nav-list>
    <div class="profile-card">
       
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Soufiane FADIL">
       
        <div class="header">
            <h2>{{userName}}</h2>
            <p *ngIf="user" >User</p>
            <p *ngIf="admin" >Driver</p>
            <h4>{{userEmail}}</h4>
        </div>
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>
    <a *ngIf="user" mat-list-item routerLinkActive="list-item-active" routerLink="/clientdashboard">Home</a>
    <a *ngIf="admin" mat-list-item routerLinkActive="list-item-active" routerLink="/driverdashboard">Dashboard</a>
    <a *ngIf="user" mat-list-item routerLinkActive="list-item-active" routerLink="/userallbookings">Bookings</a>
    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        Setting
    </a>

    <a mat-list-item routerLinkActive="list-item-active" (click)="logoutUser()">
        Logout
    </a>

</mat-nav-list>