

<div class="container mt">
    <form (ngSubmit)="OnSubmit()">
      <h2>Login</h2>
      <div class="form-group">
        <label for="username">Email</label>
        <input [(ngModel)]="credentials.email" required type="email" name="email" class="form-control" id="email" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input [(ngModel)]="credentials.password" required type="password" class="form-control" id="password" name="password" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <span class="new-span"></span>
    </form>
    <br/>
  </div>
